* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
    
.card_container {

      display: flex;
      flex-direction:row;
      width: 300px;
      height: 600px;
}
    
    
.info_container {

      display: flex;
      flex-direction:row;
      background-color: rgb(77, 77, 248);
       width: 300px;
       height: 300px;
    
}