


.color {

    background-color: rgb(206, 15, 15);
    width: 300px;
    height: 300px;
    margin-top: 50px;

}

.newcolor {

    background-color: rgb(60, 199, 18);
    width: 300px;
    height: 300px;
    margin-top: 50px;

}